@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    width: 100vw;
    min-height: 100vh;
}
body {
    width: 100%;
    height: 100vh;
}
.wrapper {
    min-height: 100vh;
    background-image: url("../../public/assets/images/image-working.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.white-shadow{
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff,
        -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}
section#title {
    height: 50%;
    padding: 5px;
}
section#cta {
    width: 100%;
    height: 50%;
    padding: 5px;
}
.custom-btn:hover {
    background-color: white;
    color: black;
}
.form {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
}
.error-msg {
    border: 2px solid red;
    border-radius: 5px;
    background-color: lightcoral;
    color: #fff;
    font-size: 1.15rem;
    font-weight: bold;
    margin: 5px 0;
    padding: 10px 5px;
}